body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headingLight{
  color: whitesmoke;
}

.navbar{
  position: sticky;
  top: 0;
  background-color: #859F3D;
  overflow: hidden;
  z-index: 1000;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

.navbar a {
  color: #1E201E;
  text-decoration: none;
  padding: 5px 20px;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 20px;
}

.navbar a:hover{
  background-color: #31511E;
  border-radius: 5px;
}

.navbar a:active {
  background-color: #362706;
  color: white;
  border-radius: 5px;
}

section {
    padding: 50px 20px;
    min-height: 100vh;
    text-align: center;
}

#hero {
    background: url('https://i.pinimg.com/originals/29/98/2b/29982bb0fe1c03d95c11d0144be79938.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    position: relative;
}

.playNowButton{
  background-color: #e6cb04;
  color: #1E201E;
  border-radius: 10px;
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  font-size: 40px;
  text-decoration: none;
  border: none;
}

button:hover{
  opacity: 0.8;
}

#hero h1 {
    margin: 0;
    padding-top: 150px;
    font-size: 3rem;
}

#content1, #content2 {
    background-color: #59551D;
}

#footer {
    background-color: #362706;
    color: white;
    padding: 20px 0;
    text-align: center;
}

#footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer input {
    padding: 10px;
    margin: 5px;
    width: 80%;
    max-width: 400px;
}

#footer button {
    padding: 10px 20px;
    background-color: white;
    color: #333;
    border: none;
    cursor: pointer;
}

/* Hidden Messagein the Hero page */
.hidden-content {
    display: none;
    padding: 20px;
    background-color: rgb(174, 160, 219);
    margin-top: 20px;
}

/* Images in Section 2 */
.column-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.content {
    opacity: 0;
    margin: auto;
    transition: opacity 0.5s ease;
    top: 150px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.box:hover .content {
    opacity: 1;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    margin-top: 15px;
    
}

.box {
    flex: 1;
    width: 300px;
    min-width: 280px;
    max-width: 30%; 
    height: 150px;
    overflow: hidden;
    transition: height 0.2s ease;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #F96666;

}

.box:hover {
    height: 350px; 
}

/* Sizing for smaller Screens */
@media (max-width: 768px) {

    .container {
        flex-direction: column; 
        align-items: center;
    }
    
    .box {
        max-width: 100%;
        min-width: 100%; 
    }
}
#content2 {
  width: 100%;
  margin-top: auto;
  padding: 50px 0;
  text-align: center;
}

.content2 {
  height: 300px;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}


main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.piktur {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}
.column-piktur{
  width: 200;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

div.piktur:nth-of-type(1) {
  --offset: 1;
  background-color: #90f1ef;
}
div.piktur:nth-of-type(2) {
  --offset: 2;
  background-color: #ff70a6;
}
div.piktur:nth-of-type(3) {
  --offset: 3;
  background-color: #ff9770;
}
div.piktur:nth-of-type(4) {
  --offset: 4;
  background-color: #ffd670;
}
div.piktur:nth-of-type(5) {
  --offset: 5;
  background-color: #e9ff70;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}